services:
  db:
    image: mysql:8.4
    container_name: booking_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: booking_db
      MYSQL_USER: mpellegr
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    container_name: booking_backend
    env_file: .env
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  db_data:
